# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store
